<h1 mat-dialog-title>About PC2 WTI</h1>
PC^2 is the Programming Contest Control System developed at California State University, Sacramento (CSUS) in support of
Computer Programming Contest activities of the International Collegiate Programming
Contest (ICPC) and its Local and Regional Contests around the world.
<br />
<br />
This web interface was created by Josie Isaacson, Ethan Holman, Dani Frodge, and Andrew Combs as part of their Senior Project at Eastern Washington University.
<br />
<br />
<div class='acm-logos'>
    <img src='assets/ewu-logo.png' />
    <img src='assets/csus-logo.png' />
</div>
<div mat-dialog-actions>
    <button type='button' (click)='close()'>Close</button>
</div>
