*.java    text
*.html    text
*.php     text
*.xml     text
bin/pc2[a-z]* text
*.bat     text eol=crlf
*.ini     text
*.py     text
*.md     text
*.prefs  text
*.xsl    text
*.properties     text
VERSION  text
*.txt    text
*.TXT    text
README   text
*.spec   text
*.c      text
*.sh     text
*.js     text
*.cpp    text
*.css    text
*.ts     text
*.scss   text
*.json   text
*.dtd    text
*.csv    text
.project text
.classpath text
.gitignore text
.gitattributes text
build.number text
testdata/**  -text
samps/**  -text

*.JPG     binary
*.doc     binary
*.docx    binary
*.eot     binary
*.exe     binary
*.gif     binary
*.gz      binary
*.ico     binary
*.jar     binary
*.jar     binary
*.jpeg    binary
*.jpg     binary
*.pdf     binary
*.png     binary
*.ppt     binary
*.pptx    binary
*.svg     binary
*.tff     binary
*.tiff    binary
*.woff    binary
*.woff2   binary
*.xls     binary
*.xlsl    binary
*.zip     binary
