@import '../../../../../styles/variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

%submission-common-style {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.yes {
	@extend %submission-common-style;
	background-color: #7fFF7f;
}

.no {
	@extend %submission-common-style;
	background-color: #FF6060;
}

.pending {
	@extend %submission-common-style;
	background-color: #3E9AE9;
	font-style: italic;
}

.judgement-cell {
  width: 120px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

