<div class='filter-table-container'>
    <div class='filter-container'>
        <div class='buttons'>
            <button type='button' class='warning' (click)='openNewJudged()'>Submit Problem</button>
            <!-- <button type='button' class='warning' (click)='openNewTest()'>Submit Test Problem</button> -->
        </div>
        <form class='filters' [formGroup]='filterForm'>
            <h3 class='center'>Filters</h3>
            <!-- Omit "Run Type" filtering until "Test Run" support is implemented..
            <div>
                <h5 class='filter-label'>Run Type</h5>
                <div>
                    <label>
                        <input type='radio' name='runType' value='judged' formControlName='runType'>
                        Judged
                    </label>
                </div>
                <div>
                    <label>
                        <input type='radio' name='runType' value='test' formControlName='runType'>
                        Test
                    </label>
                </div>
                <div>
                    <label>
                        <input type='radio' name='runType' value='both' formControlName='runType'>
                        Both
                    </label>
                </div>
            </div>
            -->
            <div>
                <app-language-selector formControlName='language'></app-language-selector>
            </div>
            <div>
                <app-problem-selector formControlName='problem'></app-problem-selector>
            </div>
            <div>
                <app-judgement-selector formControlName='judgement'></app-judgement-selector>
            </div>
            <div>
                <button class='outline' type='button' (click)='reset()'>Clear Filters</button>
            </div>
        </form>
    </div>
    <div class='table-container'>
        <table>
            <tr>
            	<!-- Omit Run Type until Test Run capability is implemented -- see Issue #1031
                <th>Run Type</th>
                -->
                <th>Run ID</th>
                <th>Language</th>
                <th>Problem</th>
                <th>Judgement</th>
                
				<!-- Display appropriate column header based on Scoreboard Type -->
				<th>
					<ng-container *ngIf="isPassFail">Time</ng-container>
					<ng-container *ngIf="isPointScoring">Score</ng-container>
				</th>

				<th></th>
            </tr>
            <tr *ngFor='let run of filteredRuns'>
            	<!-- Omit Run Type until Test Run capability is implemented -- see Issue #1031
                <td>{{ run.isTestRun ? 'Test' : 'Judged' }}</td>
                -->
                <td>{{ run.id }}</td>
                <td>{{ run.language }}</td>
                <td>{{ run.problem }}</td>

                <td class="judgement-cell" 
                	[attr.title]="run.judgement || 'Pending'"
                	[ngClass]="{'yes' : run.isSolved, 
 								'no' : !run.isSolved && run.judgement,
 								'pending' : !run.isSolved && !run.judgement
 								}">
                
					{{ run.judgement ? run.judgement : 'Pending' }}

                    <ng-container *ngIf='run.isPreliminary'>
                        (Preliminary)
                    </ng-container>
                </td>
                
				<td>
					<ng-container *ngIf="isPassFail"> {{ run.time }} </ng-container>					
					<ng-container *ngIf="isPointScoring"> 
						<ng-container *ngIf="hasAcceptedJudgement(run); else noScore"> 
							{{ run.score | number:'1.3-3' }} <!-- format numbers with at least one whole digit and exactly 3 decimal digits -->
						</ng-container> 
						<ng-template #noScore> 
							<span title="Score shown only for accepted runs">--</span>
						</ng-template>
					</ng-container>
				</td>
                
                <td>
                    <ng-container *ngIf='run.results'>
                        <button type='button' (click)='viewResults(run.problem, run.results)' class='textLink'>View Results</button>
                    </ng-container>
                </td>
            </tr>
        </table>
        <div *ngIf='filteredRuns.length === 0' class='table-message'>
            <h3>No run results to display!</h3>
        </div>
    </div>
</div>
