$bg-main: #fff;
$bg-light: #F2F2F2;
$border1: #ccc;
$bg-accent: #14375F;
$bg-alt: #153860;

$primary: #007bff ;
$secondary: #828282;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;

$control-padding: 0.5rem;
$container-padding: 2rem;
$font-stack: 'Roboto', sans-serif;
$shadow1: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
$shadow2: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
$shadow3: 0px 0px 4px 0px rgba(0,0,0,0.15);
$border-radius: 5px;
