{{ $stableRelease := index $.Site.Data.releases.stable }}
{{ $preRelease := index $.Site.Data.releases.prerelease }}
{{ $nightly := index $.Site.Data.releases.nightly }}
{{ $stableTool := index $stableRelease.downloads (.Get "toolname") }}
{{ $prereleaseTool := index $preRelease.downloads (.Get "toolname") }}
{{ $nightlyTool := index $nightly.downloads (.Get "toolname") }}
<div class="col-md-9 mb-3">
    <p>
        {{ .Get "description" }}
    </p>
    <p>
        Downloads: <br/> 
        Stable Release: &nbsp;&nbsp;&nbsp;<a href="{{ $stableTool.urls.zip }}">{{ .Get "shortname" }} version {{ $stableTool.version }}.zip</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ $stableTool.urls.tar_gz }}">{{ .Get "shortname" }} version {{ $stableTool.version }}.tar.gz</a><br />
{{ if gt $preRelease.published_at $stableRelease.published_at }}
        Release Candidate: &nbsp;&nbsp;&nbsp;<a href="{{ $prereleaseTool.urls.zip }}">{{ .Get "shortname" }} version {{ $prereleaseTool.version }}.zip</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ $prereleaseTool.urls.tar_gz }}">{{ .Get "shortname" }} version {{ $prereleaseTool.version }}.tar.gz</a><br />
{{ else }}
        No release candidate at this time.<br />
{{ end }}
        Nightly Build: &nbsp;&nbsp;&nbsp;<a href="{{ $nightlyTool.urls.zip }}">{{ .Get "shortname" }} version {{ $nightlyTool.version }}.zip</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ $nightlyTool.urls.tar_gz }}">{{ .Get "shortname" }} version {{ $nightlyTool.version }}.tar.gz</a><br />
        Documentation: &nbsp;&nbsp;&nbsp;<a href="/docs/{{ .Get "doc" }}.pdf">Contest Administrator's Guide (PDF)</a><br />
    </p>
    <p>
        <a href="{{ .Get "page" }}">More information</a>
    </p>
</div>
