{{ range $build := $.Site.Data.releases.prev_stable }}
<table class="table table-hover table-striped">
    <tbody>
        <tr>
            <td><b>Version {{ $build.version }}</b> &nbsp; &nbsp; (build date {{ $build.time }} on {{ $build.date }})</td>
        </tr>
    </tbody>
    
    <tr><td>
    
<table class="table table-hover table-striped">
    <tbody>
        {{ range $pc2 := $.Site.Data.pc2 }}
            {{ if isset $build.downloads $pc2.tool }}
            {{ $download := index $build.downloads $pc2.tool }}
            <tr>
                <th>{{ $pc2.name }}</th>
                <td>
                    <a href="{{ $download.urls.zip }}">{{ $pc2.tool }}-{{ $download.version }}.zip</a> ({{ $download.sizes.zip }} MB)
                    {{ if and (isset $download.urls.sha256 "zip") (isset $download.urls.sha512 "zip") }}
                    (<a href="{{ $download.urls.sha256.zip }}">sha256</a>, <a href="{{ $download.urls.sha512.zip }}">sha512</a>)
                    {{ end }}
                </td>
            </tr>
                {{ if isset $download.urls "tar_gz" }}
            <tr>
                <th>{{ $pc2.name }} in tar.gz form</th>
                <td>
                    <a href="{{ $download.urls.tar_gz }}">{{ $pc2.tool }}-{{ $download.version }}.tar.gz</a> ({{ $download.sizes.tar_gz }} MB)
                    {{ if and (isset $download.urls.sha256 "tar_gz") (isset $download.urls.sha512 "tar_gz") }}
                    (<a href="{{ $download.urls.sha256.tar_gz }}">sha256</a>, <a href="{{ $download.urls.sha512.tar_gz }}">sha512</a>)
                    {{ end }}
                </td>
            </tr>
                {{ end }}
            {{ end }}
        {{ end }}
    </tbody>
</table>

</td></tr></table>

{{ end }}
