# Copyright (C) 1989-2023 PC2 Development Team: John Clevenger, Douglas Lane, Samir Ashoo, and Troy Boudreau.
#
# Purpose: Execute the pc2installsandbox script which sets up the cgroup v2 required by pc2 sandboxes.
#   This is only dones once at boot time.
# Author: John Buck
#

[Unit]
Description=Create CGROUP necessary for PC2 judging

[Service]
Type=oneshot
ExecStart=/usr/pc2/bin/pc2installsandbox %JUDGEUSER% %JUDGEGROUP%
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
