modified from code By Dan Harper

* {
margin: 0;
padding: 0;
}

body {
font-size: 75%;
color: #000000;
background: #595959;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.0em;
min-width: 850px;
}


.widget {
min-width: 850px;
max-width: 850px;
width: 90%;
margin: 20px;
padding: 1px;
background: #f3f1eb;
border: 1px solid #dedbd1;
margin-bottom: 15px;
}

	.widget a {
	color: #222;
	text-decoration: none;
	}
	
	.widget a:hover {
	color: #009;
	text-decoration: underline;
	}


	.tabnav li {
	display: inline;
	list-style: none;
	padding-right: 5px;
	
	}
	
		.tabnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: #222;
		font-weight: bold;
		padding: 4px 6px;
		outline: none;
		
		}
		
		.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a {
		background: #dedbd1;
		color: #222;
		text-decoration: none;
		
		}
		
	.tabdiv {
	margin-top: 2px;
	background: #fff;
	border: 1px solid #dedbd1;
	padding: 5px;
	min-width: 500px;
	}
	
		
.ui-tabs-hide {
		display: none;
		}

		