<form [formGroup]='changePWForm'>
    <h1 mat-dialog-title>Change Your Password</h1>
    <input type='password' formControlName='oldPassword' placeholder='Current Password'>
    <br />
    <br />
    <input type='password' formControlName='newPassword' placeholder='New Password'>
    <br />
    <br />
    <input type='password' formControlName='repeatNewPassword' placeholder='Repeat New Password'>
    <br />
    <br />
    <div mat-dialog-actions>
        <button type='button' (click)='close()'>Cancel</button>&nbsp;
        <button type='submit' [disabled]='!changePWForm.valid'>Change</button>
    </div>
</form>
