<div class='filter-table-container'>

    <div class='table-container'>
        <table>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th style="text-align: center" *ngFor= "let letter of problemLetters.slice(0,numProblems)" >
                	{{letter}}
                </th>
                <th style="text-align: center">Solved</th>
                <th style="text-align: center">Score</th>
                <th></th>
            </tr>
            <tr *ngFor= 'let team of teamStandings' >
                <td style="text-align: center">{{ team.rank }}</td>
                <td>{{ team.teamName }}</td>
                
                <!-- Display results for each problem: submission count plus solution time if solved -->
                <td *ngFor= 'let problem of team.problemSummaryInfo' >
                	<ng-container style="text-align: center" *ngIf="problem.isSolved; else notSolved"> 
                		{{problem.attempts}}/{{problem.solutionTime}}
                	</ng-container>
                	<ng-template #notSolved>
                		{{problem.attempts}}/--
                	</ng-template>
                </td>

                <td style="text-align: center">{{ team.solved }}</td>
                <td style="text-align: center">{{ team.points }}</td>
            </tr>
        </table>
    </div>
</div>
